<form action="{% url 'order' %}" method="post">
    <ol>
        <h4>1. 주문할실 음식을 선택해주세요. </h4>
        {% for menu in menu_list %}
            <input type="checkbox" id = "menu{{ forloop.counter }}" name="menu" value="{{ menu.food_name }}">
            <label for="menu{{ forloop.counter }}"> {{ menu.food_name}} </label>
        {% endfor %}
    </ol>
    <ol>
        <h4>2. 집주소를 입력해주세요</h4>
        <input type="text" name="address" required>

    </ol>
    <input type="text" name="shop" value="{{shop}}" hidden>
    <input type="submit" value="주문 전송">
    
</form>